<app-mainslider></app-mainslider>
<app-categories></app-categories>

<div class="row">
    <div>
        <input [(ngModel)]="searchTerm" type="text" class="form-control w-75 mx-auto my-4" placeholder="Search By Name">
    </div>

    <div *ngFor="let product of products | search:searchTerm" class="col-md-2">
        <div class="product px-2 py-4">

            <a [routerLink]="['/productdetails' , product._id]">
                <img class="w-100" src={{product.imageCover}} alt="">
                <span class="text-main fw-bold font-sm">{{product.category.name}}</span>
                <h3 class="h6 fw-bolder ">{{product.title.split(' ').slice(0,2).join(' ')}}</h3>
    
                <div class="d-flex align-item-center justify-content-between">
                    <span class="text-muted fw-bold font-sm">{{product.price | currency: 'EGP'}}</span>
                    <div>
                        <i class="fas fa-star rating-color"></i>
                        <span class="text-muted fw-bold font-sm">{{product.ratingsAverage}}</span>
                    </div>
                </div>
            </a>

            <button (click)="addToCArt(product._id)" class="btn bg-main text-white w-100 my-2"> + Add</button>
        </div>
    </div>
</div>